**/arduino/build
.DS_Store
node_modules
__pycache__
*.swp
brew-debug.log

# Project-specific

pupil-trainer/hudkit

discriminating-oracle/face-recognition/dataset
discriminating-oracle/face-recognition/model
discriminating-oracle/face-recognition/output
